      <!-- ==== HEADERWRAP ==== -->
      <div id="headerwrap" id="home" name="home">
          <header class="clearfix">
          </header>       
      </div><!-- /headerwrap -->

      <!-- ==== GREYWRAP ==== -->
      <div id="greywrap">
          <div class="row">
              <div class="col-lg-4 callout">
                  <%= image_tag "shopify.png", height: "90px", width: "90px" %>
                  <h2>Shopify Experts</h2>
                  <p><a href="http://www.shopify.com/?ref=made-by-diesel">Shopify</a> is a powerful ecommerce solution that we use to build highly scalable stores to sell your goods. We design, configure, and deploy, getting you online quick and easy, with little to no maintenance and downtime. </p>
              </div><!-- col-lg-4 -->

              <div class="col-lg-4 callout">
                  <%= image_tag "rails.png", height: "80px", width: "80px" %>
                  <h2>Ruby on Rails Development</h2>
                  <p><a href="http://rubyonrails.org/">Ruby on Rails</a> is an open source platform that has more than proven itself on the internet. From startups to enterprise web apps, we have the tools to build whatever you need. If it can't be done with Ruby on Rails, it can't be done. </p>
              </div><!-- col-lg-4 --> 
              
              <div class="col-lg-4 callout">
                  <%= image_tag "swift.png", height: "100px", width: "100px" %>
                  <h2>Mobile Development</h2>
                  <p>We love <a href="https://www.apple.com/ios/">iOS</a> and <a href="https://developer.apple.com/swift/">Swift</a>, we can build a native app or mobile first, responsive app. <a href="http://getbootstrap.com/">Twitter Bootstrap 3</a> is our framework of choice. If your
                  site is not mobile first, you're missing out on the future and potential clientel. </p>
              </div><!-- col-lg-4 --> 
          </div><!-- row -->
      </div><!-- greywrap -->
      
      <!-- ==== ABOUT ==== -->
      <div class="container" id="about" name="about">
          <div class="row white">
              <br>
              <h1 class="centered">A LITTLE ABOUT OUR AGENCY</h1>
              <hr>
              
              <div class="col-lg-8 col-lg-offset-2 about-text">
                  <p>We are a full service Interactive Agency based in Boise Idaho with 
                    members of our team distributed throughout the Northwest and across the globe. We feel that the best and the brightest talent isn't always found down the street so we employ modern Agile practices and tools that enable colaboration and communication amongst team members wherever they may be.</p> 
                  <p>We believe ideas come from everyone, everywhere. In fact, at Made By Diesel, everyone within our agency walls is a designer in their own right. And there are a few principles we believe—and we believe everyone should believe—about our design craft. These truths drive us, motivate us, and ultimately help us redefine the power of design. The philosophy we share 
                    and the passion we have drives our design and creativity.</p>
              </div><!-- col-lg-6 -->
              

          </div><!-- row -->
      </div><!-- container -->
      
      <!-- ==== SECTION DIVIDER1 -->
      <section class="section-divider textdivider divider1">
          <div class="container">
              <h1>DESIGN EXPAND BOUNDARIES</h1>
              <hr>
              <p>To achieve real change, we have to expand boundaries. Because the Wild West of what-could-be is unexplored but rife with opportunity.</p>
          </div><!-- container -->
      </section><!-- section -->
      
      
      <!-- ==== SERVICES ==== -->
      <div class="container" id="services" name="services">
          <br>
          <br>
          <div class="row">
              <h2 class="centered">Branding, Building, Deploying Ideas.</h2>
              <hr>
              <br>
          </div><!-- row -->

        <div class="row service-list">
          <div class="col-md-6 ">
              <div class="row margin-btm-20">
                  <div class="col-md-2">
                      <div class="services-icon">
                          <span class="icon icon-cart"></span>
                      </div> 
                  </div>
                  <div class="col-md-10">
                      <div class="services-info">
                          <h3>Shopify Design & Set up</h3>
                          <p>
                              We are Shopify Experts capable of everything from concept to deployment of your ecommerce site. We'll have you online an selling fast. 
                          </p>
                      </div>
                  </div>
              </div><!--.services row end-->
              <div class="row margin-btm-20">
                  <div class="col-md-2">
                      <div class="services-icon">
                          <span class="icon icon-mobile"></span>
                      </div> 
                  </div>
                  <div class="col-md-10">
                      <div class="services-info">
                          <h3>Mobile Development </h3>
                          <p>
                              We develop iOS and Swift native applications or a mobile web applications. We'll make sure you get the perfect solution to fit your needs.
                          </p>
                      </div>
                  </div>
              </div><!--.services row end-->
              <div class="row margin-btm-20">
                  <div class="col-md-2">
                      <div class="services-icon">
                          <span class="icon icon-google"></span>
                      </div> 
                  </div>
                  <div class="col-md-10">
                      <div class="services-info">
                          <h3>Search Engine Optimization (SEO) </h3>
                          <p>
                              Optimize your site to ensure that you maximize your exposure and guarantee yourself the greatest return on your investment.
                              Search engine optimization is a critical component to an online strategy. 
                          </p>
                      </div>
                  </div>
              </div><!--.services row end-->
          </div>
          <div class="col-md-6">

              <div class="row margin-btm-20">
                  <div class="col-md-2">
                      <div class="services-icon">
                          <span class="icon icon-github"></span>
                      </div> 
                  </div>
                  <div class="col-md-10">
                      <div class="services-info">
                          <h3>Ruby on Rails Development</h3>
                          <p>
                              From small scale development to large projects, we have the team and capability to tackle whatever your needs are. Scalable solutions for secure growth.  
                          </p>
                      </div>
                  </div>
              </div><!--.services row end-->
              <div class="row margin-btm-20">
                  <div class="col-md-2">
                      <div class="services-icon">
                          <span class="icon icon-html5"></span>
                      </div> 
                  </div>
                  <div class="col-md-10">
                      <div class="services-html5">
                          <h3>Website Design & Development</h3>
                          <p>
                              Design and development services and consulting to ensure you're using the right tools for your needs. Simple one page applications or full scale sites.
                          </p>
                      </div>
                  </div>
              </div><!--.services row end-->
              <div class="row margin-btm-20">
                  <div class="col-md-2">
                      <div class="services-icon">
                          <span class="icon icon-lab"></span>
                      </div> 
                  </div>
                  <div class="col-md-10">
                      <div class="services-info">
                          <h3>Startup Consulting</h3>
                          <p>
                              You need rapid development and prototyping on a starup budget, we can provide the team to manage and develop your vision quickly. 
                          </p>
                      </div>
                  </div>
              </div><!--.services row end-->
          </div><!-- container -->
        </div>
      </div>
      

      <!-- ==== SECTION DIVIDER2 -->
      <section class="section-divider textdivider divider2">
          <div class="container">
              <h1>DESIGN IS AN INTERACTION</h1>
              <hr>
              <p>To develop a deeper and more meaningful connection with consumers, we believe design must invite them to take part in the conversation.</p>
          </div><!-- container -->
      </section><!-- section -->

      <!-- ==== TEAM MEMBERS ==== -->
      <div class="container" id="team" name="team">
          <br>
          <div class="row white centered">
              <h1 class="centered">MEET OUR TEAM</h1>
              <hr>
              <br>
              <br>
              <div class="col-lg-3 centered">
                  <%= image_tag "team/team01.jpg", class: "img img-circle", height: "100px" %>
                  <br>
                  <h4><b>David Alvarado</b></h4>
                  <h5><i>Creative Director, Developer/Designer</i></h5>
                  <a href="https://twitter.com/djdavidalvarado" class="icon icon-twitter"></a>
                  <a href="https://www.facebook.com/DavidAlvaradoOfficial" class="icon icon-facebook"></a>
                  <a href="http://www.linkedin.com/in/davidalvaradoofficial/" class="icon icon-linkedin"></a>
                  <p></p>
              </div><!-- col-lg-3 -->
              
              <div class="col-lg-3 centered">
                  <%= image_tag "team/team02.jpg", class: "img img-circle", height: "100px" %>
                  <br>
                  <h4><b>Mike Salta</b></h4>
                  <h5><i>Digital Strategist, Project Manager</i></h5>
                  <a href="#" class="icon icon-twitter"></a>
                  <a href="#" class="icon icon-facebook"></a>
                  <a href="#" class="icon icon-linkedin"></a>
                  <p></p>
              </div><!-- col-lg-3 -->
              
              <div class="col-lg-3 centered">
                  <%= image_tag "team/team03.jpg", class: "img img-circle", height: "100px" %>
                  <br>
                  <h4><b>Matthew Mau</b></h4>
                  <h5><i>UI Designer, SEO</i></h5>
                  <a href="#" class="icon icon-twitter"></a>
                  <a href="#" class="icon icon-facebook"></a>
                  <a href="#" class="icon icon-flickr"></a>
                  <p></p>
              </div><!-- col-lg-3 -->
              
              <div class="col-lg-3 centered">
                  <%= image_tag "team/team04.jpg", class: "img img-circle", height: "100px" %>
                  <br>
                  <h4><b>Gil Aguilar</b></h4>
                  <h5><i>Web Developer</i></h5>
                  <a href="#" class="icon icon-twitter"></a>
                  <a href="#" class="icon icon-facebook"></a>
                  <a href="#" class="icon icon-flickr"></a>
                  <p></p>
              </div><!-- col-lg-3 -->
              
          </div><!-- row -->
      </div><!-- container -->
      
      <!-- ==== SECTION DIVIDER3 -->
      <section class="section-divider textdivider divider3">
          <div class="container">
              <h1>DESIGN SOLVE PROBLEMS</h1>
              <hr>
              <p>From the purely practical to the richly philosophical, design is the solution to a host of challenges.</p>
          </div><!-- container -->
      </section><!-- section -->
      
      <!-- ==== PORTFOLIO ==== -->
      <div class="container" id="portfolio" name="portfolio">
          <br>
          <div class="row">
              <br>
              <h1 class="centered">WE CREATE COOL STUFF</h1>
              <hr>
              <br>
              <br>
          </div><!-- /row -->
          <div class="container">
              <div class="row">   

                  <!-- PORTFOLIO IMAGE 1 -->
                  <div class="col-md-4 ">
                      <div class="grid mask">
                          <figure>
                              <%= image_tag "portfolio/folio01.jpg", class: "img-responsive" %>
                              <figcaption>
                                  <h5>Ebay Motors Blog</h5>
                                  <a data-toggle="modal" href="#myModal1" class="btn btn-primary btn-lg">Take a Look</a>
                              </figcaption><!-- /figcaption -->
                          </figure><!-- /figure -->
                      </div><!-- /grid-mask -->
                  </div><!-- /col -->

                    <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
                        a modal for each of your projects. -->
                        
                    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Ebay Motors Blog</h4>
                          </div>
                          <div class="modal-body">
                            <p><%= image_tag "portfolio/folio01.jpg", class: "img-responsive" %></p>
                            <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
                            <p><b><a href="#">Visit Site</a></b></p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->


                <!-- PORTFOLIO IMAGE 2 -->
                <div class="col-md-4">
                  <div class="grid mask">
                      <figure>
                          <%= image_tag "portfolio/folio02.jpg", class: "img-responsive" %>
                          <figcaption>
                              <h5>BSwim</h5>
                              <a data-toggle="modal" href="#myModal2" class="btn btn-primary btn-lg">Take a Look</a>
                          </figcaption><!-- /figcaption -->
                      </figure><!-- /figure -->
                  </div><!-- /grid-mask -->
              </div><!-- /col -->

                        
                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">BSwim Swimwear</h4>
                          </div>
                          <div class="modal-body">
                            <p><%= image_tag "portfolio/folio02.jpg", class: "img-responsive" %></p>
                            <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
                            <p><b><a href="#">Visit Site</a></b></p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->                
              
              <!-- PORTFOLIO IMAGE 3 -->
              <div class="col-md-4">
                  <div class="grid mask">
                      <figure>
                          <%= image_tag "portfolio/folio03.jpg", class: "img-responsive" %>
                          <figcaption>
                              <h5>Love Bags</h5>
                              <a data-toggle="modal" href="#myModal3" class="btn btn-primary btn-lg">Take a Look</a>
                          </figcaption><!-- /figcaption -->
                      </figure><!-- /figure -->
                  </div><!-- /grid-mask -->
              </div><!-- /col -->
          </div><!-- /row -->

                    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Love Bags</h4>
                          </div>
                          <div class="modal-body">
                            <p><%= image_tag "portfolio/folio03.jpg", class: "img-responsive" %></p>
                            <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
                            <p><b><a href="#">Visit Site</a></b></p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

          <!-- PORTFOLIO IMAGE 4 -->
          <div class="row">   
              <div class="col-md-4 ">
                  <div class="grid mask">
                      <figure>
                          <%= image_tag "portfolio/folio04.jpg", class: "img-responsive" %>
                          <figcaption>
                              <h5>Via Trade</h5>
                              <a data-toggle="modal" href="#myModal4" class="btn btn-primary btn-lg">Take a Look</a>
                          </figcaption><!-- /figcaption -->
                      </figure><!-- /figure -->
                  </div><!-- /grid-mask -->
              </div><!-- /col -->
              
                    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Via Trade</h4>
                          </div>
                          <div class="modal-body">
                            <p><%= image_tag "portfolio/folio04.jpg", class: "img-responsive" %></p>
                            <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
                            <p><b><a href="#">Visit Site</a></b></p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

              <!-- PORTFOLIO IMAGE 5 -->
              <div class="col-md-4">
                  <div class="grid mask">
                      <figure>
                          <%= image_tag "portfolio/folio05.jpg", class: "img-responsive" %>
                          <figcaption>
                              <h5>P&S Denmark</h5>
                              <a data-toggle="modal" href="#myModal5" class="btn btn-primary btn-lg">Take a Look</a>
                          </figcaption><!-- /figcaption -->
                      </figure><!-- /figure -->
                  </div><!-- /grid-mask -->
              </div><!-- /col -->

                    <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">P&S Denmark</h4>
                          </div>
                          <div class="modal-body">
                            <p><%= image_tag "portfolio/folio05.jpg", class: "img-responsive" %></p>
                            <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
                            <p><b><a href="#">Visit Site</a></b></p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

              <!-- PORTFOLIO IMAGE 6 -->
              <div class="col-md-4">
                  <div class="grid mask">
                      <figure>
                          <%= image_tag "portfolio/folio06.jpg", class: "img-responsive" %>
                          <figcaption>
                              <h5>Nolus Cafe</h5>
                              <a data-toggle="modal" href="#myModal6" class="btn btn-primary btn-lg">Take a Look</a>
                          </figcaption><!-- /figcaption -->
                      </figure><!-- /figure -->
                  </div><!-- /grid-mask -->
              </div><!-- /col -->

                    <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Nolus Cafe</h4>
                          </div>
                          <div class="modal-body">
                            <p><%= image_tag "portfolio/folio06.jpg", class: "img-responsive" %></p>
                            <p>This project was crafted for Some Name corp. Detail here a little about your job requirements and the tools used. Tell about the challenges faced and what you and your team did to solve it.</p>
                            <p><b><a href="#">Visit Site</a></b></p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->

          </div><!-- /row -->
          <br>
          <br>
      </div><!-- /row -->
  </div><!-- /container -->


  <!-- ==== SECTION DIVIDER6 ==== -->
  <section class="section-divider textdivider divider6">
      <div class="container">
          <h1>CRAFTED IN BOISE, USA.</h1>
          <hr>
          <p>+1 208 398 0028</p>
          <p><a class="icon icon-twitter" href="https://twitter.com/madebydiesel"></a> | <a class="icon icon-facebook" href="https://www.facebook.com/madebydiesel"></a></p>
      </div><!-- container -->
  </section><!-- section -->

  <div class="container" id="contact" name="contact">
      <div class="row">
          <br>
          <h1 class="centered">THANKS FOR VISITING US</h1>
          <hr>
          <br>
          <br>
          <div class="col-lg-4">
              <h3>Contact Information</h3>
              <p><span class="icon icon-home"></span> Boise, USA<br/>
                  <span class="icon icon-phone"></span> +1 208 398 0028 <br/>
                  <span class="icon icon-mobile"></span> +1 949 394 9726 <br/>
                  <span class="icon icon-mail"></span> <a href="mailto:info@madebydiesel.com">  info@madebydiesel.com </a> <br/>
                  <span class="icon icon-twitter"></span> <a href="https://twitter.com/madebydiesel"> @madebydiesel </a> <br/>
                  <span class="icon icon-facebook"></span> <a href="https://www.facebook.com/madebydiesel"> Made By Diesel </a> <br/>
              </p>
          </div><!-- col -->

          <div class="col-lg-4">
              <h3>Newsletter</h3>
              <p>Register to our newsletter and be updated with the latests information regarding our services, offers and much more.</p>
              <p>
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label for="inputEmail1" class="col-lg-4 control-label"></label>
                      <div class="col-lg-10">
                        <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                  <label for="text1" class="col-lg-4 control-label"></label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" id="text1" placeholder="Your Name">
                </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10">
                <button type="submit" class="btn btn-success">Sign in</button>
            </div>
        </div>
    </form><!-- form -->
  </p>
  </div><!-- col -->

  <div class="col-lg-4">
  <h3>How We Work</h3>
  <!-- 16:9 aspect ratio -->
  <div class="embed-responsive embed-responsive-16by9">
  <iframe src="//player.vimeo.com/video/76063825?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
   <p><a href="http://vimeo.com/76063825">37signals Works Remotely</a> from <a href="http://vimeo.com/basecampmovies">Basecamp</a>.</p>
  </div><!-- col -->

  </div><!-- row -->

  </div><!-- container -->

  <div id="footerwrap">
  <div class="container">
  <h4>Created by <a href="http://madebydiesel.com">Made By Diesel</a> - Copyright 2014</h4>
  </div>
  </div>
